header {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: skewY(-4deg);
      background: #099ee0;
      transform-origin: bottom left;
      z-index: -1;
    }
  
    margin: 0;
    padding: 0;
    color: #efefef;
    overflow: hidden;
    position: relative;
  
    h2 {
      padding: 0 0 0 53px;
    }
  }