@font-face {
  font-family: "Guardian TextSans Regular";
  font-style: normal;
  font-weight: normal;
  src: url("src/assets/fonts/GuardianTextSans-Regular-Web.woff");
}

@font-face {
  font-family: "Guardian TextSans Medium";
  font-style: normal;
  font-weight: normal;
  src: url("src/assets/fonts/GuardianTextSans-Medium_unhinted.ttf");
}

@font-face {
  font-family: "Guardian Sans SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("src/assets/fonts/GuardianSans-Semibold-Web.woff");
}

@font-face {
  font-family: "Guardian Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: url("src/assets/fonts/GuardianSans-Black-Web.woff");
}
