/* Media query breakpoint for tablet */
$max-width: 1000px;

body {
  margin: 0 auto;
  max-width: $max-width;

  ul {
    list-style-type: none;

    li {
      display: flex;
      margin: 30px;

      p {
        margin-left: 20px;
      }

      .image-wrapper {
        width: 500px;
        height: 500px;
        background-image: url('../../../assets/sin-imagen.png');
        background-size: 500px 500px;
      }
    }
  }
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.images-wrapper{
  padding-bottom: 20px
}
