<body>
  <!-- Search bar -->
  <div id="cover">
    <form>
      <div class="tb">
        <div class="td">
            <input type="text" [(ngModel)]="searchText" placeholder="Búsqueda" [ngModelOptions]="{standalone: true}"></div>
        <div class="td" id="s-cover">
          <img src="../assets/icon/search.png"/>
        </div>
      </div>
    </form>
  </div>

  <div class="images-wrapper">
    <ul *ngIf="images">
      <!-- La propiedad default la asigna Angular internamente a 
              pesar de que el archivo generado es un json plano  -->
      <li *ngFor="let image of images | filterText: searchText">
        <div class="image-wrapper">
          <img align="left" [src]="image?.photo" />
        </div>
        <div class="text">
          <p align="justify">{{ image.text }}</p>
        </div>
      </li>
    </ul>
  </div>
</body>
